---
interface Props {
    name: string;
    class?: string;
    ariaLabel?: string;
    width?: string;
    height?: string;
    viewBox?: string;
}

const { name, ariaLabel, class: propsClass, width, height, viewBox, ...rest } = Astro.props;

const computedAriaLabel = ariaLabel ?? undefined;
const computedArialHidden = computedAriaLabel ? 'false' : 'true';
const computedFocusable = computedAriaLabel ? 'true' : 'false';


const classes = ['c-icon', propsClass];

const svgClassName = `svg-${name}`;
const link = `/assets/images/sprite.svg#${name}`;
---

<span class:list={classes} {...rest}>
    <svg
        class={svgClassName}
        aria-label={computedAriaLabel}
        aria-hidden={computedArialHidden}
        focusable={computedFocusable}
        width={width}
        height={height}
        viewBox={viewBox}
        preserveAspectRatio="xMidYMid meet"
    >
        <use href={link}></use>
    </svg>
</span>

<style is:global>
    @import 'Icon.scss';
</style>
