---
import Button from '@components/Button/Button.astro';
import Icon from '@components/Icon/Icon.astro';
import Wysiwyg from '@components/Wysiwyg/Wysiwyg.astro';
import Accordion from '@components/Accordion/Accordion.astro';

import Layout from '../layouts/Layout.astro';
---
<Layout title="Leo Strangman.">
    <!-- Hero Section with Fullscreen Background Image -->
    <div class="hero" id="parallax-hero">
        <div class="hero-content">
            <h1 class = "title-font u-text-amber-200 u-mix-blend-exclusion" id = "parallax-name">Leo Strangman.</h1>
            <div class = "icon-text-wrapper u-text-amber-200 u-mix-blend-exclusion">
                <div id = "parallax-logo"><Icon name="icon-amber-supply" class = "icon"/></div>
                <h2 id = "parallax-title">Developer</h2>
            </div>
        </div>
    </div>
    

    <header class="u-container">
        <button class="shortcut-functions">Test</button>
    </header>

    <div class="u-container u-mt-fluid-xl">
        <div class="u-grid u-grid-cols-12 u-gap-gutter">
            <div class="u-col-span-full u-text-body md:u-col-span-4">
                <Wysiwyg>
                    <Fragment
                        set:html={`<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>`}
                    />
                </Wysiwyg>

                <Button href="/about" class="u-mt-fluid-s"> Learn More </Button>
            </div>

            <div class="u-col-span-full u-text-body md:u-col-span-4">
                <Wysiwyg tag="article">
                    <Fragment
                        set:html={`<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>`}
                    />
                    <Button href="https://google.ca" target="_blank" class="u-mt-fluid-s">
                        Visit Us
                    </Button>
                </Wysiwyg>
            </div>

            <div class="u-col-span-full u-text-body md:u-col-span-4">
                <Wysiwyg>
                    <Fragment
                        set:html={`<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>`}
                    />
                </Wysiwyg>
            </div>

            <div class="u-col-span-full u-text-body md:u-col-span-4">
                <Accordion label="Accordion summary">
                    <Wysiwyg>
                        <Fragment
                            set:html={`<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>`}
                        />
                    </Wysiwyg>
                </Accordion>
                <Accordion label="Accordion summary">
                    <Wysiwyg>
                        <Fragment
                            set:html={`<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>`}
                        />
                    </Wysiwyg>
                </Accordion>
            </div>
        </div>

        <!-- Placeholder -->
        <div class="w-full u-mt-fluid-xl u-h-[50vh] u-bg-black u-opacity-50"></div>
        <div class="w-full u-mt-fluid-xl u-h-[50vh] u-bg-primary"></div>
    </div>

    <script type="module">
        document.addEventListener("DOMContentLoaded", () => {
            const hero = document.getElementById("parallax-hero");
            const name = document.getElementById("parallax-name");
            const title = document.getElementById("parallax-title");
            const logo = document.getElementById("parallax-logo");
            const totalFrames = 60; // Number of frames
            const folder = "animation";

            for (let i = 1; i <= totalFrames; i++) {
                const paddedIndex = String(i).padStart(4, '0');
                const link = document.createElement('link');
                link.rel = 'preload';
                link.as = 'image';
                link.type = 'image/webp';
                link.href = `/assets/images/${folder}/${paddedIndex}.webp`;
                document.head.appendChild(link);
            }

            if (!hero || !name || !title || !logo) return; // Exit if the hero element isn't found

            const heroHeight = hero.offsetHeight; // Height of the hero section
            let currentFrame = 1;
            let previousFrame = 1;

            const updateFrames = (current, previous) => {
                // Format the frame numbers with leading zeros (e.g., 001, 002, ..., 060)
                const paddedCurrent = String(current).padStart(4, '0');
                const paddedPrevious = String(previous).padStart(4, '0');

                // Set the background image for the hero
                hero.style.backgroundImage = `url('/assets/images/${folder}/${paddedCurrent}.webp'), url('/assets/images/${folder}/${paddedPrevious}.webp')`;
            };

            document.addEventListener("scroll", () => {
                const scrollY = window.scrollY;
                const scrollProgress = Math.min(scrollY / heroHeight, 1); // Scroll progress (0 to 1)
                const newFrame = Math.min(Math.floor(scrollProgress * totalFrames) + 1, totalFrames);

                if (newFrame !== currentFrame) {
                    previousFrame = currentFrame; // Update previous frame
                    currentFrame = newFrame; // Update current frame
                    updateFrames(currentFrame, previousFrame);
                }

                // Adjust background position based on scroll position
                hero.style.backgroundPositionY = `${scrollY * 0.5}px`; // Adjust multiplier for effect strength
                name.style.transform = `translateY(${scrollY * -0.27}px)`;
                title.style.transform = `translateY(${scrollY * -0.15}px)`;
                logo.style.transform = `translateY(${scrollY * -0.2}px)`;
            });
        });
      </script>

    <style>

        @font-face {
            font-family: 'Supply'; /* Choose a custom name */
            src: url('/fonts/PPSupplySans-Regular.woff2') format('woff2'); /* Path to the font */
            font-weight: 400; /* Specify the weight (e.g., 400 for regular) */
            font-style: normal; /* Specify style: normal, italic, etc. */
        }

        .hero {
            position: relative;
            height: 100vh;
            background-image: url('/assets/images/animation/0001.webp'); /* Path to your image */
            background-size: cover;
            background-position: center; /* Initial position */
            background-attachment: scroll; /* Allows dynamic updates with JavaScript */
            z-index: 0;
        }


        .hero-content {
            position: absolute;
            bottom: 20px;
            left: 20px;
            font-size: 2rem;
            display: grid;
        }

        .icon-text-wrapper {
            display: flex;
            align-items: center; /* Vertically align icon and text */
            gap: 0.5em; /* Space between icon and text */
            padding-left: 0.3em;
            padding-bottom: 0.3em;
            font-family: 'Supply';
        }

        .icon {
            width: 2.5em;
            height: 2.65em;
            z-index: 2;
            position: relative;
        }

        .title-font {
            font-size: 17.5vw;
            line-height: 1.2;
            font-family: 'Supply';
        }

        @media (min-width: 720px) {
            .title-font {
                font-size: 4em;
            }
        }
    </style>
</Layout>
